    <!-- Footer -->
    <div id="footer" class="container-fluid py-4 bg-dark text-light">
        <div class="row text-md-start justify-content-center">
            <!-- Columna 1 -->
            <div class="col-12 col-md-4 m-4 text-center">
                <p><strong>CÓMO ENCONTRARNOS</strong></p>
                <p><i class="bi bi-geo-alt"></i> Paseo de la Universidad, 1</p>
                <p>13005 Ciudad Real (Spain)</p>
                <p><i class="bi bi-map"></i>
                    <a href="https://maps.app.goo.gl/YnckcEUiVXqNFyUZ6" target="_blank">
                        Mapa
                    </a>
                </p>
                <p><i class="bi bi-telephone"></i> 926 232 530</p>
                <a class="link-light link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                    href="mailto:yo@soy.es">
                    <i class="bi bi-envelope-arrow-up"></i>
                    13001327.ies@educastillalamancha.es </a>
            </div>
            <!-- Columna 2 -->
            <div class="col-12 col-md-4 mb-4 text-center">
                <br />
                <p><strong>ACCESOS DIRECTOS</strong></p>
                <p>Secretaría Avisos Noticias</p>
                <p>ESO Bachillerato FP</p>
                <p>Erasmus+ FP Dual APE</p>
                <p>Carmenta PROA+</p>
                <a class="link-light link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                    href="https://iesmaestredecalatrava.es/politica-cookies/"><i class="bi bi-cookie"></i> Política de
                    privacidad
                </a>
            </div>
            <!-- Columna 3 -->
            <div class="col-12 col-md-4 m-4 text-center">
                <a href="https://www.facebook.com/IES-Maestre-1582646895307968/" target="_blank"
                    rel="noopener noreferrer" class="text-light"><i class="bi bi-facebook fs-1"></i></a>
                <a href="https://twitter.com/iesmaestre" target="_blank" rel="noopener noreferrer" class="text-light"><i
                        class="bi bi-twitter-x fs-1"></i></a>
                <a href="https://www.youtube.com/channel/UCTOUmYZjHd6ik6y1mWUPioA" target="_blank"
                    rel="noopener noreferrer" class="text-light"><i class="bi bi-youtube fs-1"></i></a>
                <a href="https://www.instagram.com/iesmaestre/" target="_blank" rel="noopener noreferrer"
                    class="text-light"><i class="bi bi-instagram fs-1"></i></a>
                <a href="https://www.linkedin.com/company/ies-maestredecalatrava" target="_blank"
                    rel="noopener noreferrer" class="text-light"><i class="bi bi-linkedin fs-1"></i></a>
                <p>&copy;
                    <span id="currentYear"></span> Manuel Serrano Cubero.
                </p>
            </div>
        </div>
    </div>
    <!-- /Footer -->
