<!-- INFORMACIÓN DE EQUIPOS -->
<!-- Estos acordeones, aparecerán abiertos por defecto -->
<!-- Composición de equipos ACORDEON FÚTBOL -->
<section class="container pt-5" id="equipos">
  <h2 class="text-center m-4 bg-success text-white py-2">
    <i class="bi bi-info-circle"></i> Información de Equipos
  </h2>
  <div class="accordion" id="competicionFutbol">
    <!-- La Liga -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFutbol">
        <button
          class="accordion-button bg-warning-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFutbol"
          aria-expanded="true"
          aria-controls="collapseFutbol"
        >
          FÚTBOL
        </button>
      </h2>
      <div
        id="collapseFutbol"
        class="accordion-collapse collapse show"
        aria-labelledby="headingFutbol"
       
      >
        <div class="accordion-body">
          <div class="row gy-4">
            <!-- Equipo 1 -->
            <div class="col-md-4">
              <div class="card h-100">
                <img
                  src="assets/img/iesalonsoquijano.png"
                  class="card-img-top h-100"
                  alt="Alonso Quijano"
                />
                <div class="card-body">
                  <h5 class="card-title">IES Martin de Aldehuela</h5>
                  <button
                    class="btn btn-outline-warning w-100 btn-efect"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#infoAlonsoQuijano"
                    aria-expanded="false"
                    aria-controls="infoAlonsoQuijano"
                  >
                    Ver información
                  </button>
                  <div class="collapse mt-3" id="infoAlonsoQuijano">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <strong>Capitán:</strong> Carlos García
                      </li>
                      <li class="list-group-item">
                        <strong>Jugadores:</strong> Ter Stegen, Pedri,
                        Lewandowski
                      </li>
                      <li class="list-group-item">
                        <strong>Posiciones:</strong> Portero, Centrocampista,
                        Delantero
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Equipo 2 -->
            <div class="col-md-4">
              <div class="card h-100">
                <img
                  src="assets/img/iessanjuan.jpg"
                  class="card-img-top h-100"
                  alt="San Juan"
                />
                <div class="card-body">
                  <h5 class="card-title">IES San Juan</h5>
                  <button
                    class="btn btn-outline-warning w-100 btn-efect"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#infoSanJuan"
                    aria-expanded="false"
                    aria-controls="infoSanJuan"
                  >
                    Ver información
                  </button>
                  <div class="collapse mt-3" id="infoSanJuan">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <strong>Capitán:</strong> Manu Pérez
                      </li>
                      <li class="list-group-item">
                        <strong>Jugadores:</strong> Oblak, Griezmann, Le Normand
                      </li>
                      <li class="list-group-item">
                        <strong>Posiciones:</strong> Portero, Centrocampista,
                        Delantero
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Equipo 3 -->
            <div class="col-md-4">
              <div class="card h-100">
                <img
                  src="assets/img/logotipo-ies-maestredecalatrava-1.png"
                  class="card-img-top h-100"
                  alt="Cervantes"
                />
                <div class="card-body">
                  <h5 class="card-title">IES Maestre de Calatrava</h5>
                  <button
                    class="btn btn-outline-warning w-100 btn-efect"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#infoHermanoGarate"
                    aria-expanded="false"
                    aria-controls="infoHermanoGarate"
                  >
                    Ver información
                  </button>
                  <div class="collapse mt-3" id="infoHermanoGarate">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <strong>Capitán:</strong> Nacho Fernández
                      </li>
                      <li class="list-group-item">
                        <strong>Jugadores:</strong> Courtois, Modric, Vinícius
                      </li>
                      <li class="list-group-item">
                        <strong>Posiciones:</strong> Portero, Centrocampista,
                        Delantero
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- añadir más equipos aquí -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Composición de equipos ACORDEON FÚTBOL -->

<!-- Composición de equipos de ACORDEÓN BASKETBALL -->
<section class="container py-2" id="equipos">
  <div class="accordion" id="competicionBasket">
    <!-- La Liga -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingBasket">
        <button
          class="accordion-button bg-primary-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseBasket"
          aria-expanded="true"
          aria-controls="collapseBasket"
        >
          BASKETBALL
        </button>
      </h2>
      <div
        id="collapseBasket"
        class="accordion-collapse collapse show"
        aria-labelledby="headingBasket"
       
      >
        <div class="accordion-body">
          <div class="row gy-4">
            <!-- Equipo 1 -->
            <div class="col-md-4">
              <div class="card h-100">
                <!-- <img src="img/iesalonsoquijano.png" class="card-img-top h-100" alt="Alonso Quijano"> -->
                <div class="card-body">
                  <h5 class="card-title">IES Athenea</h5>
                  <button
                    class="btn btn-outline-warning w-100 btn-efect"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#infoAthenea"
                    aria-expanded="false"
                    aria-controls="infoAthenea"
                  >
                    Ver información
                  </button>
                  <div class="collapse mt-3" id="infoAthenea">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <strong>Capitán:</strong> Carlos García
                      </li>
                      <li class="list-group-item">
                        <strong>Jugadores:</strong> Ter Stegen, Pedri,
                        Lewandowski
                      </li>
                      <li class="list-group-item">
                        <strong>Posiciones:</strong> Portero, Centrocampista,
                        Delantero
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Equipo 2 -->
            <div class="col-md-4">
              <div class="card h-100">
                <!-- <img src="img/iessanjuan.jpg" class="card-img-top h-100" alt="San Juan"> -->
                <div class="card-body">
                  <h5 class="card-title">IES Salesianos</h5>
                  <button
                    class="btn btn-outline-warning w-100 btn-efect"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#infoSalesianos"
                    aria-expanded="false"
                    aria-controls="infoSalesianos"
                  >
                    Ver información
                  </button>
                  <div class="collapse mt-3" id="infoSalesianos">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <strong>Capitán:</strong> Manu Pérez
                      </li>
                      <li class="list-group-item">
                        <strong>Jugadores:</strong> Oblak, Griezmann, Le Normand
                      </li>
                      <li class="list-group-item">
                        <strong>Posiciones:</strong> Portero, Centrocampista,
                        Delantero
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Equipo 3 -->
            <div class="col-md-4">
              <div class="card h-100">
                <!-- <img src="img/iescervantes.jpg" class="card-img-top h-100" alt="Cervantes"> -->
                <div class="card-body">
                  <h5 class="card-title">IES Cervantes</h5>
                  <button
                    class="btn btn-outline-warning w-100 btn-efect"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#infoCervantes"
                    aria-expanded="false"
                    aria-controls="infoCervantes"
                  >
                    Ver información
                  </button>
                  <div class="collapse mt-3" id="infoCervantes">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <strong>Capitán:</strong> Nacho Fernández
                      </li>
                      <li class="list-group-item">
                        <strong>Jugadores:</strong> Courtois, Modric, Vinícius
                      </li>
                      <li class="list-group-item">
                        <strong>Posiciones:</strong> Portero, Centrocampista,
                        Delantero
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- añadir más equipos aquí -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Composición de equipos de ACORDEÓN BASKETBALL -->

<!-- Composición de equipos de ACORDEÓN PADEL -->
<section class="container py-2" id="equipos">
  <div class="accordion" id="competicionPadel">
    <!-- La Liga -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingPadel">
        <button
          class="accordion-button bg-danger-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsePadel"
          aria-expanded="true"
          aria-controls="collapsePadel"
        >
          PÁDEL
        </button>
      </h2>
      <div
        id="collapsePadel"
        class="accordion-collapse collapse show"
        aria-labelledby="headingPadel"
       
      >
        <div class="accordion-body">
          <div class="row gy-4">
            <!-- Equipo 1 -->
            <div class="col-md-4">
              <div class="card h-100">
                <!-- <img src="img/iesalonsoquijano.png" class="card-img-top h-100" alt="Alonso Quijano"> -->
                <div class="card-body">
                  <h5 class="card-title">IES Athenea</h5>
                  <button
                    class="btn btn-outline-warning w-100 btn-efect"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#infoAthenea"
                    aria-expanded="false"
                    aria-controls="infoAthenea"
                  >
                    Ver información
                  </button>
                  <div class="collapse mt-3" id="infoAthenea">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <strong>Capitán:</strong> Carlos García
                      </li>
                      <li class="list-group-item">
                        <strong>Jugadores:</strong> Ter Stegen, Pedri,
                        Lewandowski
                      </li>
                      <li class="list-group-item">
                        <strong>Posiciones:</strong> Portero, Centrocampista,
                        Delantero
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Equipo 2 -->
            <div class="col-md-4">
              <div class="card h-100">
                <!-- <img src="img/iessanjuan.jpg" class="card-img-top h-100" alt="San Juan"> -->
                <div class="card-body">
                  <h5 class="card-title">IES Salesianos</h5>
                  <button
                    class="btn btn-outline-warning w-100 btn-efect"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#infoSalesianos"
                    aria-expanded="false"
                    aria-controls="infoSalesianos"
                  >
                    Ver información
                  </button>
                  <div class="collapse mt-3" id="infoSalesianos">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <strong>Capitán:</strong> Manu Pérez
                      </li>
                      <li class="list-group-item">
                        <strong>Jugadores:</strong> Oblak, Griezmann, Le Normand
                      </li>
                      <li class="list-group-item">
                        <strong>Posiciones:</strong> Portero, Centrocampista,
                        Delantero
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Equipo 3 -->
            <div class="col-md-4">
              <div class="card h-100">
                <!-- <img src="img/iescervantes.jpg" class="card-img-top h-100" alt="Cervantes"> -->
                <div class="card-body">
                  <h5 class="card-title">IES Cervantes</h5>
                  <button
                    class="btn btn-outline-warning w-100 btn-efect"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#infoCervantes"
                    aria-expanded="false"
                    aria-controls="infoCervantes"
                  >
                    Ver información
                  </button>
                  <div class="collapse mt-3" id="infoCervantes">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <strong>Capitán:</strong> Nacho Fernández
                      </li>
                      <li class="list-group-item">
                        <strong>Jugadores:</strong> Courtois, Modric, Vinícius
                      </li>
                      <li class="list-group-item">
                        <strong>Posiciones:</strong> Portero, Centrocampista,
                        Delantero
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- añadir más equipos aquí -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Composición de equipos de ACORDEÓN PADEL -->

<!-- Composición de equipos de ACORDEÓN ATLETISMO -->
<section class="container py-2" id="equipos">
  <div class="accordion" id="competicionAtletismo">
    <!-- La Liga -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingAtletismo">
        <button
          class="accordion-button bg-info-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseAtletismo"
          aria-expanded="true"
          aria-controls="collapseAtletismo"
        >
          ATLETISMO
        </button>
      </h2>
      <div
        id="collapseAtletismo"
        class="accordion-collapse collapse show"
        aria-labelledby="headingAtletismo"
       
      >
        <div class="accordion-body">
          <div class="row gy-4">
            <!-- Equipo 1 -->
            <div class="col-md-4">
              <div class="card h-100">
                <!-- <img src="img/iesalonsoquijano.png" class="card-img-top h-100" alt="Alonso Quijano"> -->
                <div class="card-body">
                  <h5 class="card-title">IES Athenea</h5>
                  <button
                    class="btn btn-outline-warning w-100 btn-efect"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#infoAthenea"
                    aria-expanded="false"
                    aria-controls="infoAthenea"
                  >
                    Ver información
                  </button>
                  <div class="collapse mt-3" id="infoAthenea">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <strong>Capitán:</strong> Carlos García
                      </li>
                      <li class="list-group-item">
                        <strong>Jugadores:</strong> Ter Stegen, Pedri,
                        Lewandowski
                      </li>
                      <li class="list-group-item">
                        <strong>Posiciones:</strong> Portero, Centrocampista,
                        Delantero
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Equipo 2 -->
            <div class="col-md-4">
              <div class="card h-100">
                <!-- <img src="img/iessanjuan.jpg" class="card-img-top h-100" alt="San Juan"> -->
                <div class="card-body">
                  <h5 class="card-title">IES Salesianos</h5>
                  <button
                    class="btn btn-outline-warning w-100 btn-efect"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#infoSalesianos"
                    aria-expanded="false"
                    aria-controls="infoSalesianos"
                  >
                    Ver información
                  </button>
                  <div class="collapse mt-3" id="infoSalesianos">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <strong>Capitán:</strong> Manu Pérez
                      </li>
                      <li class="list-group-item">
                        <strong>Jugadores:</strong> Oblak, Griezmann, Le Normand
                      </li>
                      <li class="list-group-item">
                        <strong>Posiciones:</strong> Portero, Centrocampista,
                        Delantero
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Equipo 3 -->
            <div class="col-md-4">
              <div class="card h-100">
                <!-- <img src="img/iescervantes.jpg" class="card-img-top h-100" alt="Cervantes"> -->
                <div class="card-body">
                  <h5 class="card-title">IES Cervantes</h5>
                  <button
                    class="btn btn-outline-warning w-100 btn-efect"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#infoCervantes"
                    aria-expanded="false"
                    aria-controls="infoCervantes"
                  >
                    Ver información
                  </button>
                  <div class="collapse mt-3" id="infoCervantes">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <strong>Capitán:</strong> Nacho Fernández
                      </li>
                      <li class="list-group-item">
                        <strong>Jugadores:</strong> Courtois, Modric, Vinícius
                      </li>
                      <li class="list-group-item">
                        <strong>Posiciones:</strong> Portero, Centrocampista,
                        Delantero
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- añadir más equipos aquí -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Composición de equipos de ACORDEÓN ATLETISMO -->
