<!-- RESULTADOS EQUIPOS -->
<!-- Resultados FÚTBOL -->
<!-- Estos acordeones, aparecerán cerrados por defecto, 
        suprimiendo la clas "show", junto a la clase "accordion-collapse y collapsed" -->
<section class="container pt-5" id="resultados">
  <h2 class="text-center mb-4 bg-success text-white py-2">
    <i class="bi bi-list-ul"></i> Resultados por competición
  </h2>
  <div class="accordion" id="resultadosFutbol">
    <!-- La Liga -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFutbol">
        <button
          class="accordion-button bg-warning-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFutbol"
          aria-expanded="true"
          aria-controls="collapseFutbol"
        >
          FÚTBOL
        </button>
      </h2>
      <div
        id="collapseFutbol"
        class="accordion-collapse collapse"
        aria-labelledby="headingFutbol"
      >
        <div class="accordion-body">
          <div class="accordion" id="jornadasLiga">
            <!-- Jornada 1 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="jornada1Liga">
                <button
                  class="accordion-button collapsed bg-primary-subtle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#ligaJornada1"
                  aria-expanded="false"
                  aria-controls="ligaJornada1"
                >
                  Jornada 1
                </button>
              </h2>
              <div
                id="ligaJornada1"
                class="accordion-collapse collapse"
                aria-labelledby="jornada1Liga"
              >
                <div class="accordion-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      IES Alonso Quijano 2 - 1 IES San Juan
                    </li>
                    <li class="list-group-item">
                      IES Hermano Gárate 3 - 0 IES Athenea
                    </li>
                    <li class="list-group-item">
                      IES San Juan 1 - 1 IES Alonso Quijano
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Jornada 2 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="jornada2Liga">
                <button
                  class="accordion-button collapsed bg-primary-subtle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#ligaJornada2"
                  aria-expanded="false"
                  aria-controls="ligaJornada2"
                >
                  Jornada 2
                </button>
              </h2>
              <div
                id="ligaJornada2"
                class="accordion-collapse collapse"
                aria-labelledby="jornada2Liga"
              >
                <div class="accordion-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      IES Athenea 0 - 2 IES San Juan
                    </li>
                    <li class="list-group-item">
                      IES Alonso Quijano 1 - 1 IES Hermano Gárate
                    </li>
                    <li class="list-group-item">
                      IES San Juan 0 - 4 IES Alonso Quijano
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- añadir más jornadas aquí -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Resultados FÚTBOL -->

<!-- Resultados BASKET -->
<section class="container py-2" id="resultados">
  <div class="accordion" id="resultadosBasket">
    <!-- La Liga -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingBasket">
        <button
          class="accordion-button bg-primary-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseBasket"
          aria-expanded="true"
          aria-controls="collapseBasket"
        >
          BASKETBALL
        </button>
      </h2>
      <div
        id="collapseBasket"
        class="accordion-collapse collapse"
        aria-labelledby="headingBasket"
      >
        <div class="accordion-body">
          <div class="accordion" id="jornadasBasket">
            <!-- Jornada 1 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="jornada1Basket">
                <button
                  class="accordion-button collapsed bg-warning-subtle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#basketJornada1"
                  aria-expanded="false"
                  aria-controls="basketJornada1"
                >
                  Jornada 1
                </button>
              </h2>
              <div
                id="basketJornada1"
                class="accordion-collapse collapse"
                aria-labelledby="jornada1Basket"
              >
                <div class="accordion-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      IES Alonso Quijano 2 - 1 IES San Juan
                    </li>
                    <li class="list-group-item">
                      IES Hermano Gárate 3 - 0 IES Athenea
                    </li>
                    <li class="list-group-item">
                      IES San Juan 1 - 1 IES Alonso Quijano
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Jornada 2 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="jornada2Liga">
                <button
                  class="accordion-button collapsed bg-warning-subtle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#ligaJornada2"
                  aria-expanded="false"
                  aria-controls="ligaJornada2"
                >
                  Jornada 2
                </button>
              </h2>
              <div
                id="ligaJornada2"
                class="accordion-collapse collapse"
                aria-labelledby="jornada2Liga"
               
              >
                <div class="accordion-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      IES Athenea 0 - 2 IES San Juan
                    </li>
                    <li class="list-group-item">
                      IES Alonso Quijano 1 - 1 IES Hermano Gárate
                    </li>
                    <li class="list-group-item">
                      IES San Juan 0 - 4 IES Alonso Quijano
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- añadir más jornadas aquí -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Resultados BASKET -->

<!-- Resultados PÁDEL -->
<section class="container py-2" id="resultados">
  <div class="accordion" id="resultadosPadel">
    <!-- La Liga -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingPadel">
        <button
          class="accordion-button bg-danger-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsePadel"
          aria-expanded="true"
          aria-controls="collapsePadel"
        >
          PÁDEL
        </button>
      </h2>
      <div
        id="collapsePadel"
        class="accordion-collapse collapse"
        aria-labelledby="headingPadel"
       
      >
        <div class="accordion-body">
          <div class="accordion" id="jornadasLiga">
            <!-- Jornada 1 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="jornada1Liga">
                <button
                  class="accordion-button collapsed bg-warning-subtle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#ligaJornada1"
                  aria-expanded="false"
                  aria-controls="ligaJornada1"
                >
                  Jornada 1
                </button>
              </h2>
              <div
                id="ligaJornada1"
                class="accordion-collapse collapse"
                aria-labelledby="jornada1Liga"
               
              >
                <div class="accordion-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      IES Alonso Quijano 2 - 1 IES San Juan
                    </li>
                    <li class="list-group-item">
                      IES Hermano Gárate 3 - 0 IES Athenea
                    </li>
                    <li class="list-group-item">
                      IES San Juan 1 - 1 IES Alonso Quijano
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Jornada 2 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="jornada2Liga">
                <button
                  class="accordion-button collapsed bg-warning-subtle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#ligaJornada2"
                  aria-expanded="false"
                  aria-controls="ligaJornada2"
                >
                  Jornada 2
                </button>
              </h2>
              <div
                id="ligaJornada2"
                class="accordion-collapse collapse"
                aria-labelledby="jornada2Liga"
               
              >
                <div class="accordion-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      IES Athenea 0 - 2 IES San Juan
                    </li>
                    <li class="list-group-item">
                      IES Alonso Quijano 1 - 1 IES Hermano Gárate
                    </li>
                    <li class="list-group-item">
                      IES San Juan 0 - 4 IES Alonso Quijano
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- añadir más jornadas aquí -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Resultados PÁDEL -->

<!-- Resultados ATLETISMO -->
<section class="container py-2" id="resultados">
  <div class="accordion" id="resultadosAtletismo">
    <!-- La Liga -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingAtletismo">
        <button
          class="accordion-button bg-info-subtle"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseAtletismo"
          aria-expanded="true"
          aria-controls="collapseAtletismo"
        >
          ATLETISMO
        </button>
      </h2>
      <div
        id="collapseAtletismo"
        class="accordion-collapse collapse"
        aria-labelledby="headingAtletismo"
       
      >
        <div class="accordion-body">
          <div class="accordion" id="jornadasLiga">
            <!-- Jornada 1 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="jornada1Liga">
                <button
                  class="accordion-button collapsed bg-warning-subtle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#ligaJornada1"
                  aria-expanded="false"
                  aria-controls="ligaJornada1"
                >
                  Jornada 1
                </button>
              </h2>
              <div
                id="ligaJornada1"
                class="accordion-collapse collapse"
                aria-labelledby="jornada1Liga"
               
              >
                <div class="accordion-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <strong>100m masculino:</strong> IES Maestre de Calatrava
                      (11.2s)
                    </li>
                    <li class="list-group-item">
                      <strong>Salto de longitud:</strong> IES San Juan (6.45m)
                    </li>
                    <li class="list-group-item">
                      <strong>Relevos 4x100:</strong> IES Cervantes (45.8s)
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Jornada 2 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="jornada2Liga">
                <button
                  class="accordion-button collapsed bg-warning-subtle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#ligaJornada2"
                  aria-expanded="false"
                  aria-controls="ligaJornada2"
                >
                  Jornada 2
                </button>
              </h2>
              <div
                id="ligaJornada2"
                class="accordion-collapse collapse"
                aria-labelledby="jornada2Liga"
               
              >
                <div class="accordion-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <strong>100m femenino:</strong> IES Cervantes (12.4s)
                    </li>
                    <li class="list-group-item">
                      <strong>Lanzamiento de peso:</strong> IES Athenea (10.2m)
                    </li>
                    <li class="list-group-item">
                      <strong>Relevos mixtos:</strong> IES Cervantes (47.1s)
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- añadir más jornadas aquí -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Resultados ATLETISMO -->
<!-- /RESULTADOS -->
