<!-- Navegador -->
    <nav id="navegador" class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="img/logotipo-ies-maestredecalatrava-1.png" alt="logo ies" width="100" height="40"> La Liga IES
                Maestre de Calatrava</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#equipos">Equipos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#resultados">Resultados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#clasificaciones">Clasificaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#jugadores">Jugadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#arbitros">Árbitros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /Navegador -->